<mat-card class="example-card" cdkDrag >
  <mat-card-header>
    <mat-card-title>{{item.itemName}}</mat-card-title>
    <div class="promotion" *ngIf="admin">
    <button  mat-icon-button color="primary" class="optionButton" (click)="promote(item.price)">Options
      <mat-icon>build</mat-icon>
    </button>
    </div>
  </mat-card-header>
  <img mat-card-image [src]="item.itemImageUrl" alt="Photo of a ">
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>
  <mat-card-content
    [ngStyle]="{textDecorationLine: promotion ? 'line-through' : 'none',
                color: promotion ? 'red' : 'black'}">
    {{item.price | currency:'UAH':'symbol-narrow'}}</mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="addToCart()">Add to cart</button>
  </mat-card-actions>
</mat-card>
