<mat-card class="example-card">
  <mat-card-title>Please enter new password🔑</mat-card-title>
  <form [formGroup]="passwordForm"
      name="loginForm"
      (ngSubmit)="f.form.valid && onSubmit(f.form.value)"
      #f="ngForm"
      novalidate>
  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput
           [type]="hide ? 'password' : 'text'"
           [formControl]="newPassword"
           name="password">
    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPassword.errors?.required">Field is required'</mat-error>
    <mat-error *ngIf="newPassword.errors?.pattern">At least one capital, one small and one digit should be present
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="passwordConfirm">Confirm Password</mat-label>
    <input matInput
           [type]="hide ? 'password' : 'text'"
           [formControl]="userConfirmNewPassword"
           name="passwordConfirm">
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="userConfirmNewPassword.errors?.confirmedValidator">Password and Confirm Password must match.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="showDialog()" color="accent">Change Password</button>
</form>
</mat-card>

