<router-outlet></router-outlet>
<div class="menu">
  <div>
      <mat-form-field class="example">
        <mat-label>Favorite drink</mat-label>
        <input #element matInput placeholder="Віскі" (input)="filterByName(element.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button color="accent" *ngIf="filter" (click)="showAll()">Show all</button>
    <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="byHighestPrice()">
        <mat-icon>attach_money</mat-icon>
        <span>By higher price</span>
      </button>
      <button mat-menu-item (click)="byLowestPrice()">
        <mat-icon>attach_money</mat-icon>
        <span>By lower price</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="alcoholTypes">
        <mat-icon>local_bar</mat-icon>
        <span>By type</span>
      </button>
    </mat-menu>
    <mat-menu #alcoholTypes="matMenu">
      <button mat-menu-item *ngFor="let type of types" (click)="showByType(type)">{{type}}</button>
    </mat-menu>
  </div>
</div>
<div class="content">
  <app-item *ngFor="let item of filtered | slice: lowValue : highValue" [item]="item" ></app-item>
</div>

<mat-paginator [length]="filtered?.length" [pageSize]="8"
               (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>
