.example-container {
  height: 93.3%;
  border: 1px solid #555;
}

.shadowbox {
  box-shadow: 0 4px 8px 0 rgb(123, 31, 162), 0 6px 20px 0 rgb(123, 31, 162);
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 400px;
}

.mat-divider {
  border: #303030 1px solid;
}

.wrapper {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  opacity: 0.95;
}

.optionButton {
  top: 60%;
  left: 70%;
}

.secondColumn {
  background: #303030;
}


