<div id="shadowbox" >
  <mat-card class="example-card" [ngStyle]="isSuccessful && {background: '#03521d'}">
    <div align="center">
      <mat-card-title>Welcome
      <div class="spinner"><app-loading-spinner *ngIf="showSpinner"></app-loading-spinner></div>
      </mat-card-title>
    </div>
    <mat-card-content>
      <form *ngIf="!isSuccessful"
            [formGroup]="registrationForm"
            name="registrationForm"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <mat-form-field>
          <mat-label for="username">Name</mat-label>
          <input matInput
                 [formControl]="username"
                 name="username">
          <mat-error *ngIf="username.errors?.required">Field is required'</mat-error>
          <mat-error *ngIf="username.errors?.pattern">Only letters allowed</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label for="username">Email</mat-label>
          <input matInput
                 [formControl]="userEmail"
                 name="email">
          <mat-hint *ngIf="userEmail.errors" class="mat-hint px-5 ">Should be like example@com</mat-hint>
          <mat-error *ngIf="userEmail.errors?.email">Should be like 'example' + '@' + 'com'</mat-error>
          <mat-error *ngIf="userEmail.errors?.required">Field is required'</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">Password</mat-label>
          <input matInput
                 [type]="hide ? 'password' : 'text'"
                 [formControl]="userPassword"
                 name="password">
          <button mat-icon-button color="accent" type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="userPassword.errors?.required">Field is required'</mat-error>
          <mat-error *ngIf="userPassword.errors?.pattern">At least one capital, one small and one digit should be
            present
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="passwordConfirm">Confirm Password</mat-label>
          <input matInput
                 [type]="hide ? 'password' : 'text'"
                 [formControl]="userConfirmPassword"
                 name="passwordConfirm">
          <button mat-icon-button color="accent" matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="userConfirmPassword.errors?.confirmedValidator">Password and Confirm Password must match.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!f.form.valid">Sign Up</button>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br/>{{ errorMessage }}
        </div>
      </form>
      <mat-card *ngIf="isSuccessful" [ngStyle]="{background: '#69f0ae'}">
        <div >
        <mat-card-title>Please follow the link in Email that we send you</mat-card-title>
        <mat-card-header>Your registration is successful!</mat-card-header>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>



