<button mat-raised-button color="primary" [matMenuTriggerFor]="beverages">Beverages</button>
<mat-menu #beverages="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="alcoholic">Alcoholic</button>
</mat-menu>

<mat-menu #alcoholic="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="whiskey">Whiskey</button>
  <button mat-menu-item [matMenuTriggerFor]="liquers">Liquer</button>
  <button mat-menu-item [matMenuTriggerFor]="rom">Rom</button>
  <button mat-menu-item [matMenuTriggerFor]="brandy">Brandy</button>
  <button mat-menu-item [matMenuTriggerFor]="vodka">Vodka</button>
  <button mat-menu-item [matMenuTriggerFor]="absent">Absent</button>
</mat-menu>

<mat-menu #whiskey="matMenu">
  <button mat-menu-item *ngFor="let whiskey of whiskeys">{{whiskey.itemName}}</button>
</mat-menu>

<mat-menu #liquers="matMenu">
  <button mat-menu-item *ngFor="let liquor of liquors">{{liquor.itemName}}</button>
</mat-menu>

<mat-menu #rom="matMenu">
  <button mat-menu-item *ngFor="let rom of roms">{{rom.itemName}}</button>
</mat-menu>

<mat-menu #brandy="matMenu">
  <button mat-menu-item *ngFor="let brandy of brandies">{{brandy.itemName}}</button>
</mat-menu>

<mat-menu #vodka="matMenu">
  <button mat-menu-item *ngFor="let vodka of vodkas">{{vodka.itemName}}</button>
</mat-menu>

<mat-menu #absent="matMenu">
  <button mat-menu-item *ngFor="let absent of absents">{{absent.itemName}}</button>
</mat-menu>
