.example-container {
  height: 93.3%;
  border: 1px solid #555;
}

.shadowbox {
  box-shadow: 0 4px 8px 0 rgb(123, 31, 162), 0 6px 20px 0 rgb(123, 31, 162);
  margin: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  display: flex;
  width: 400px;
  height: 400px;
}

.mat-divider {
  border: #303030 1px solid;
  box-shadow: 0 4px 8px 6px rgb(123, 31, 162), 0 6px 5px 0 rgb(123, 31, 162);

}

.example-header-image {
  /*background-image: url('https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-512.png');*/
  /*background-size: cover;*/
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
