<mat-form-field>
  <mat-label for="password">New Password</mat-label>
  <input matInput
         [type]="hide ? 'password' : 'text'"
         [formControl]="userPassword"
         name="password">
  <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="userPassword.errors?.required">Field is required'</mat-error>
  <mat-error *ngIf="userPassword.errors?.pattern">At least one capital, one small and one digit should be
    present
  </mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label for="passwordConfirm">Confirm new Password</mat-label>
  <input matInput
         [type]="hide ? 'password' : 'text'"
         [formControl]="userConfirmPassword"
         name="passwordConfirm">
  <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="userConfirmPassword.errors?.confirmedValidator">Password and Confirm Password must match.
  </mat-error>
</mat-form-field>
