/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  color: #0b740f;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 2px 25px #424242;
}

::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
  background-color: #680266;
}
